

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
    list-style: none;
}

html {
    font-size: 62.5%; /* 62,5% = 10px = 1rem */
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: clamp(16px, 2dvw, 30px);
}

h1, h2, h3 {
    width: 100%;
}

h1 {
    font-size: clamp(28px, 4dvw, 32px);
}

h2 {
    font-size: clamp(20px, 3dvw, 28px);
}

h3 {
    font-size: clamp(18px, 2dvw, 24px);
}

p, 
textarea, 
input, 
span, 
label,
button , tr{
    font-size: clamp(16px, 1.5dvw, 20px);
}

button,
a {
    cursor: pointer; 
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}

.d-none {
    display: none;
}
