/* #region Body Background */

body {
    background-image: url("../assets/img/background_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/* #endregion Body Background */

/* #region Defaults */

.btn {
    border: 2px solid #bbbbbb;
    border-radius: 16px;
    padding: 0.5rem 1rem;

    color: white;
    background: rgba(255, 0, 0, 0.24);
}

/* #endregion Defaults */

/* #region Header */

header {
    z-index: 2;

    display: flex;
    justify-content: center;

    background-color: rgba(5, 2, 56, 0.128);

    .content {

        .header-container {

            img {
                height: 10dvh;
                margin: 0rem 1rem;
            }
        }
    }
}

/* #endregion Header */

/* #region Main */

main {
    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .pokedex-container {

        background-color: rgba(0, 255, 255, 0.13);
        width: 100%;
        min-height: 80dvh;

        .content {
            flex-direction: row;
            width: 100%;


        }
    }
}

/* #endregion Main */

/* #region Main Content */

.main-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* #region Section Search Bar */

    .section-search-bar {

        .content {

            .search-form {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .search-input-wrapper {
                    display: flex;
                    align-items: center;

                    border: 2px solid #bbbbbb;
                    border-radius: 16px;
                    padding: 0.25rem 0.5rem;

                    gap: 1rem;

                    background: #bbbbbb54;

                    img {
                        width: 3rem;
                        height: 3rem;
                    }

                    #search-input {
                        background: transparent;
                        border: none;
                        outline: none;
                        color: white;
                        font-weight: 600;
                    }

                    #search-input:focus {
                        outline: none;
                    }

                    #search-input::placeholder {
                        color: rgba(255, 255, 255, 0.322);
                    }
                }
            }
        }
    }

    /* #endregion Section Search Bar */

    /* #region Section Poke Container */

    .section-poke-container {
        width: 100%;
        height: 100%;
        min-height: 35dvw;

        .content {
            width: 100%;
            height: 100%;
            padding: 2rem;
        }
    }

    /* #endregion Section Poke Container */

    /* #region Section Load More */

    .section-load-container {
        .content {
            .button-container {}
        }
    }

    /* #endregion Section Load More */

}

/* #endregion Main Content */

/* #region Aside Legend Left */

.aside-legend-left {

    width: 20%;
    height: 75dvh;

    position: sticky;
    top: 0;
    left: 0;

    padding: 1dvw 1dvw;

    /* background: rgba(255, 192, 203, 0.288); */
    background-color: rgba(255, 255, 255, 0.356);
    box-shadow: 2px 3px 8px 2px lightsalmon;


    .aside-content {

        border: 2px solid pink;
        border-radius: 16px;
        width: 100%;
        height: 100%;

        h2 {
            padding: 1rem;
            background: linear-gradient(to right, red, orange, yellow);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        #legend-type-container {
            width: 100%;
            /* height: 100%; */
            padding: 1rem;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            .legend-type-element {
                height: 2rem;

                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

/* #endregion Aside Legend Left */

/* #region Template Poke Card */

#poke-card-collection-container {

    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    .poke-card {

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 10dvw;
        min-width: 150px;

        border: 2px solid black;
        border-radius: 16px;

        padding: 1rem;

        box-shadow: 2px 2px 3px 0px yellowgreen;

        img {
            height: 15rem;
            width: 15rem;
            border-radius: 16px;
        }

        span {
            font-weight: 800;
        }

        h3 {
            text-align: center;
        }

        .type-container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            padding: 2rem;

            .type-icon {
                height: 3rem;
                width: 3rem;
            }
        }
    }

    .poke-card:hover {
        cursor: pointer;
        box-shadow: 0px 0px 8px 0px red;
    }
}

/* #endregion Template Poke Card */

/* #region Aside Poke Detail */

.aside-poke-detail-container {

    z-index: 3;

    position: absolute;
    top: 0;
    width: 100dvw;
    min-width: 30rem;
    height: 80dvh;
    min-height: 20dvh;

    background: rgba(0, 128, 0, 0.342);


    .content {
        /* width: 100%; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #poke-detail-content {
            width: 40%;
            height: 70dvh;
            
            background: rgba(255, 255, 0, 0.301);
            border-radius: 16px;


        }
    }
}

/* #endregion Aside Poke Detail */

/* #region Footer */


/* #endregion Footer */