/* #region Body Background */

body {
    background-image: url("../assets/img/background_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/* #endregion Body Background */

/* #region Defaults */

.btn {
    border: 2px solid #bbbbbb;
    border-radius: 16px;
    padding: 0.25rem 1rem;

    color: white;
    background: rgba(255, 0, 0, 0.24);
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* #endregion Defaults */

/* #region Header */

header {
    z-index: 2;

    display: flex;
    justify-content: center;

    background-color: rgba(5, 2, 56, 0.128);

    .content {

        .header-container {

            img {
                height: 10dvw;
                max-height: 8rem;
                min-height: 4rem;
                margin: 0rem 1rem;
            }
        }
    }
}

/* #endregion Header */

/* #region Main */

main {
    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .pokedex-container {

        /* background-color: rgba(0, 255, 255, 0.13); */
        width: 100%;
        min-height: 80dvh;

        .content {
            flex-direction: row;
            width: 100%;
        }
    }
}

/* #endregion Main */

/* #region Main Content */

.main-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* #region Section Search Bar */

    .section-search-bar {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 25dvw;
        min-width: 250px;
        height: 4rem;
        padding: 0;
        margin:0;

        .content {
            width: 100%;
            margin: 0;
            padding: 0;

            .search-form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .search-input-wrapper {
                    width: 60%;
                    display: flex;
                    align-items: center;

                    border: 2px solid #bbbbbb;
                    border-radius: 16px;
                    padding: 0.25rem 0.5rem;

                    gap: 1rem;

                    background: #bbbbbb54;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }

                    #search-input {
                        width: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        color: white;
                        font-weight: 600;

                    }

                    #search-input:focus {
                        outline: none;
                    }

                    #search-input::placeholder {
                        color: rgba(255, 255, 255, 0.322);
                    }
                }
            }
        }
    }

    /* #endregion Section Search Bar */

    /* #region Section Poke Container */

    #section-poke-container {
        width: 100%;
        height: 100%;
        min-height: 35dvw;
        display: none;

        .content {
            width: 100%;
            height: 100%;
            padding: 2rem;
        }
    }

    /* #endregion Section Poke Container */

    /* #region Section Load More */

    .section-load-container {
        .content {
            .button-container {}
        }
    }

    /* #endregion Section Load More */

}

/* #endregion Main Content */

/* #region Aside Legend Left */

.aside-legend-left {

    width: 20%;
    height: 75dvh;

    position: sticky;
    top: 0;
    left: 0;

    padding: 1dvw 1dvw;

    /* background: rgba(255, 192, 203, 0.288); */
    background-color: rgba(255, 255, 255, 0.356);
    box-shadow: 2px 3px 8px 2px lightsalmon;

    @media (max-width: 780px) {
        display: none;
    }

    .aside-content {

        border: 2px solid pink;
        border-radius: 16px;
        width: 100%;
        height: 100%;

        h2 {
            padding: 1rem;
            background: linear-gradient(to right, red, orange, yellow);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        #legend-type-container {
            width: 100%;
            /* height: 100%; */
            padding: 1rem;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .legend-type-element {
                height: 2rem;

                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

/* #endregion Aside Legend Left */

/* #region Template Poke Card */

#poke-card-collection-container {

    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    .poke-card {

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 10dvw;
        min-width: 150px;
        height: 300px;

        border: 2px solid black;
        border-radius: 16px;

        padding: 1rem;

        box-shadow: 2px 2px 3px 0px yellowgreen;

        img {
            height: 15rem;
            width: 15rem;
            border-radius: 16px;
        }

        span {
            font-weight: 800;
        }

        h3 {
            text-align: center;
        }

        .type-container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            padding: 2rem;

            .type-icon {
                height: 3rem;
                width: 3rem;
            }
        }
    }

    .poke-card:hover {
        cursor: pointer;
        box-shadow: 0px 0px 8px 0px red;
    }
}

/* #endregion Template Poke Card */

/* #region Aside Poke Detail */

.aside-poke-detail {

    z-index: 3;
    position: fixed;


    width: 100%;
    height: 100dvh;

    /* display is set in pokemanager.js | toggle between none & flex */
    justify-content: center;
    align-items: center;

    #poke-detail-content {
        width: 20dvw;
        min-width: 250px;

        border-radius: 16px;
    }

    #poke-detail-card {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 30dvw;
        min-width: 250px;

        border: 2px solid black;
        border-radius: 16px;
        ;
        box-shadow: 0px 0px 12px 5px red;

        h3 {
            text-align: center;
        }

        #detail-poke-gif {
            width: 200px;
            height: 200px;
            margin: 2rem 0;

        }

        #detail-type-container {
            width: 100%;
            display: flex;
            justify-content: center;

            gap: 1rem;

            .detail-type-icon {
                width: 3rem;
                height: 3rem;
            }
        }

        .detail-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin: 1rem 0;

            .detail-info {
                width: 80%;
                padding: 1rem;

                .detail-info-line {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    min-width: 115px;

                    @media(max-width: 900px) {
                        flex-wrap: wrap;
                    }

                    span {
                        font-weight: 800;
                    }

                    .detail-span {
                        font-weight: 500;
                    }
                }
            }

            .detail-stats {
                width: 80%;
                padding: 1rem;

                .progress-bar {
                    padding: 2px 5%;
                    background-color: teal;
                }
            }
        }

        .detail-btn-container {
            width: 100%;

            display: flex;
            justify-content: space-between;
            padding: 2rem;

            .detail-btn {
                height: 4rem;
                width: 4rem;
                background: transparent;
                border: none;
                /* border-inline: none; */

                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 99px;
                }
            }
        }
    }
}

/* #endregion Aside Poke Detail */

/* #region Big Spinner */
#loader-container {
    width: 100%;
    height: 80dvh;
    display: none;
    justify-content: center;
    align-items: center;

    .lds-dual-ring {
        color: red
    }

    .lds-dual-ring,
    .lds-dual-ring:after {
        box-sizing: border-box;
    }

    .lds-dual-ring {
        display: inline-block;
        width: 112px;
        height: 112px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 96px;
        height: 96px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

}

/* #endregion Big Spinner */

/* #region small Spinner */
#loader-small-container {
    width: 100%;
    height: 5dvh;
    display: none;
    justify-content: center;
    align-items: center;

    .lds-dual-ring-small {
        color: red
    }

    .lds-dual-ring-small,
    .lds-dual-ring-small:after {
        box-sizing: border-box;
    }

    .lds-dual-ring-small {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring-small:after {
        content: " ";
        display: block;
        width: 48px;
        height: 48px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

}

/* #endregion small Spinner */

/* #region small detail Spinner */
#loader-small-detail-container {
    width: 100%;
    height: 5dvh;
    display: none;
    justify-content: center;
    align-items: center;

    .lds-dual-ring-small-detail {
        color: red
    }

    .lds-dual-ring-small-detail,
    .lds-dual-ring-small-detail:after {
        box-sizing: border-box;
    }

    .lds-dual-ring-small-detail {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring-small-detail:after {
        content: " ";
        display: block;
        width: 48px;
        height: 48px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

}

/* #endregion small detail Spinner */


/* #region Footer */


/* #endregion Footer */