
/* #region Body Background */

body {
    background-image: url("../assets/img/background_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100dvw;
}

/* #endregion Body Background */

.btn {
    border: 2px solid #bbbbbb;
    border-radius: 16px;
    padding: 0.5rem 1rem;

    color: white;
    background: rgba(255, 0, 0, 0.24);
}


/* #region Header */

header {
    z-index: 2;

    display: flex;
    justify-content: center;
    
    background-color: rgba(5, 2, 56, 0.128);
    .content {

        .header-container {
            
            img {
                height: 10dvh;
                margin: 0rem 1rem;
            }
        }
    }
} 

/* #endregion Header */

/* #region Main */

main {
    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .pokedex-container {

        background-color: rgba(0, 255, 255, 0.13);
        width: 100%;
        min-height: 80dvh;

        .content {
            flex-direction: row;
            width: 100%;

            /* #region Aside Legend Left */

            .aside-legend-left {

                width: 20%;

                height: 80dvh;

                position: sticky;
                top: 0;
                left: 0;

                padding: 1dvw 1dvw;

                background: rgba(255, 192, 203, 0.288);


                .aside-content {

                    border: 2px solid pink;
                    border-radius: 16px;
                    width: 100%;
                    
                    h2 {
                        padding: 1dvw 1dvw;
                    }

                    #legend-type-container {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            /* #endregion Aside Legend Left */

            .main-content {

                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                /* #region Section Search Bar */

                .section-search-bar {

                    .content {
                    
                        .search-form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;

                            .search-input-wrapper {
                                display: flex;
                                align-items: center;

                                border: 2px solid #bbbbbb;
                                border-radius: 16px;
                                padding: 0.25rem 0.5rem;

                                gap: 1rem;

                                background: #bbbbbb54;

                                img {
                                    width: 3rem;
                                    height: 3rem;
                                }

                                #search-input {
                                    background: transparent;
                                    border: none;
                                    outline: none;
                                    color: white;
                                    font-weight: 600;
                                }

                                #search-input:focus {
                                    outline: none;
                                }

                                #search-input::placeholder {
                                    color: rgba(255, 255, 255, 0.322);
                                }
                            }
                        }
                    }
                }

                /* #endregion Section Search Bar */






                /* #region Section Load More */

                .section-load-container {
                    .content {
                        .button-container {
                        }
                    }
                }

                /* #endregion Section Load More */






            }


        }
    }
}

/* #endregion Main */






/* #region Footer */


/* #endregion Footer */









